In [1]:
import pandas as pd 
import numpy as np

In [9]:
# 모든 연령
df_age = pd.read_csv('csv/all-ages.csv', index_col=0)

In [10]:
# 대학원생
df_grad = pd.read_csv('csv/grad-students.csv', index_col=0)

In [38]:

df_recent = pd.read_csv('csv/recent-grads.csv', index_col=0)

In [40]:
df_age

,Major_code,Major,Major_category,Total,Employed,Employed_full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th
index,,,,,,,,,,,
0,1100,GENERAL AGRICULTURE,Agriculture & Natural Resources,128148,90245,74078,2423,0.026147,50000,34000,80000.0
1,1101,AGRICULTURE PRODUCTION AND MANAGEMENT,Agriculture & Natural Resources,95326,76865,64240,2266,0.028636,54000,36000,80000.0
2,1102,AGRICULTURAL ECONOMICS,Agriculture & Natural Resources,33955,26321,22810,821,0.030248,63000,40000,98000.0
3,1103,ANIMAL SCIENCES,Agriculture & Natural Resources,103549,81177,64937,3619,0.042679,46000,30000,72000.0
4,1104,FOOD SCIENCE,Agriculture & Natural Resources,24280,17281,12722,894,0.049188,62000,38500,90000.0
...,...,...,...,...,...,...,...,...,...,...,...
168,6211,HOSPITALITY MANAGEMENT,Business,200854,163393,122499,8862,0.051447,49000,33000,70000.0
169,6212,MANAGEMENT INFORMATION SYSTEMS AND STATISTICS,Business,156673,134478,118249,6186,0.043977,72000,50000,100000.0
170,6299,MISCELLANEOUS BUSINESS & MEDICAL ADMINISTRATION,Business,102753,77471,61603,4308,0.052679,53000,36000,83000.0
171,6402,HISTORY,Humanities & Liberal Arts,712509,478416,354163,33725,0.065851,50000,35000,80000.0
172,6403,UNITED STATES HISTORY,Humanities & Liberal Arts,17746,11887,8204,943,0.073500,50000,39000,81000.0

In [60]:
df_age['Major_category'].isna().sum()

0

In [41]:
df_age['Major_category'].nunique()

16

In [64]:
df_age['Major'].unique()

array(['GENERAL AGRICULTURE', 'AGRICULTURE PRODUCTION AND MANAGEMENT',
       'AGRICULTURAL ECONOMICS', 'ANIMAL SCIENCES', 'FOOD SCIENCE',
       'PLANT SCIENCE AND AGRONOMY', 'SOIL SCIENCE',
       'MISCELLANEOUS AGRICULTURE', 'ENVIRONMENTAL SCIENCE', 'FORESTRY',
       'NATURAL RESOURCES MANAGEMENT', 'ARCHITECTURE',
       'AREA ETHNIC AND CIVILIZATION STUDIES', 'COMMUNICATIONS',
       'JOURNALISM', 'MASS MEDIA', 'ADVERTISING AND PUBLIC RELATIONS',
       'COMMUNICATION TECHNOLOGIES', 'COMPUTER AND INFORMATION SYSTEMS',
       'COMPUTER PROGRAMMING AND DATA PROCESSING', 'COMPUTER SCIENCE',
       'INFORMATION SCIENCES',
       'COMPUTER ADMINISTRATION MANAGEMENT AND SECURITY',
       'COMPUTER NETWORKING AND TELECOMMUNICATIONS',
       'COSMETOLOGY SERVICES AND CULINARY ARTS', 'GENERAL EDUCATION',
       'EDUCATIONAL ADMINISTRATION AND SUPERVISION',
       'SCHOOL STUDENT COUNSELING', 'ELEMENTARY EDUCATION',
       'MATHEMATICS TEACHER EDUCATION',
       'PHYSICAL AND HEALTH EDUCATION TEACHING',
       'EARLY CHILDHOOD EDUCATION',
       'SCIENCE AND COMPUTER TEACHER EDUCATION',
       'SECONDARY TEACHER EDUCATION', 'SPECIAL NEEDS EDUCATION',
       'SOCIAL SCIENCE OR HISTORY TEACHER EDUCATION',
       'TEACHER EDUCATION: MULTIPLE LEVELS',
       'LANGUAGE AND DRAMA EDUCATION', 'ART AND MUSIC EDUCATION',
       'MISCELLANEOUS EDUCATION', 'GENERAL ENGINEERING',
       'AEROSPACE ENGINEERING', 'BIOLOGICAL ENGINEERING',
       'ARCHITECTURAL ENGINEERING', 'BIOMEDICAL ENGINEERING',
       'CHEMICAL ENGINEERING', 'CIVIL ENGINEERING',
       'COMPUTER ENGINEERING', 'ELECTRICAL ENGINEERING',
       'ENGINEERING MECHANICS PHYSICS AND SCIENCE',
       'ENVIRONMENTAL ENGINEERING',
       'GEOLOGICAL AND GEOPHYSICAL ENGINEERING',
       'INDUSTRIAL AND MANUFACTURING ENGINEERING',
       'MATERIALS ENGINEERING AND MATERIALS SCIENCE',
       'MECHANICAL ENGINEERING', 'METALLURGICAL ENGINEERING',
       'MINING AND MINERAL ENGINEERING',
       'NAVAL ARCHITECTURE AND MARINE ENGINEERING', 'NUCLEAR ENGINEERING',
       'PETROLEUM ENGINEERING', 'MISCELLANEOUS ENGINEERING',
       'ENGINEERING TECHNOLOGIES',
       'ENGINEERING AND INDUSTRIAL MANAGEMENT',
       'ELECTRICAL ENGINEERING TECHNOLOGY',
       'INDUSTRIAL PRODUCTION TECHNOLOGIES',
       'MECHANICAL ENGINEERING RELATED TECHNOLOGIES',
       'MISCELLANEOUS ENGINEERING TECHNOLOGIES',
       'LINGUISTICS AND COMPARATIVE LANGUAGE AND LITERATURE',
       'FRENCH GERMAN LATIN AND OTHER COMMON FOREIGN LANGUAGE STUDIES',
       'OTHER FOREIGN LANGUAGES', 'FAMILY AND CONSUMER SCIENCES',
       'COURT REPORTING', 'PRE-LAW AND LEGAL STUDIES',
       'ENGLISH LANGUAGE AND LITERATURE', 'COMPOSITION AND RHETORIC',
       'LIBERAL ARTS', 'HUMANITIES', 'LIBRARY SCIENCE', 'BIOLOGY',
       'BIOCHEMICAL SCIENCES', 'BOTANY', 'MOLECULAR BIOLOGY', 'ECOLOGY',
       'GENETICS', 'MICROBIOLOGY', 'PHARMACOLOGY', 'PHYSIOLOGY',
       'ZOOLOGY', 'NEUROSCIENCE', 'MISCELLANEOUS BIOLOGY', 'MATHEMATICS',
       'APPLIED MATHEMATICS', 'STATISTICS AND DECISION SCIENCE',
       'MILITARY TECHNOLOGIES', 'MULTI/INTERDISCIPLINARY STUDIES',
       'INTERCULTURAL AND INTERNATIONAL STUDIES', 'NUTRITION SCIENCES',
       'MATHEMATICS AND COMPUTER SCIENCE',
       'COGNITIVE SCIENCE AND BIOPSYCHOLOGY',
       'INTERDISCIPLINARY SOCIAL SCIENCES',
       'PHYSICAL FITNESS PARKS RECREATION AND LEISURE',
       'PHILOSOPHY AND RELIGIOUS STUDIES',
       'THEOLOGY AND RELIGIOUS VOCATIONS', 'PHYSICAL SCIENCES',
       'ASTRONOMY AND ASTROPHYSICS',
       'ATMOSPHERIC SCIENCES AND METEOROLOGY', 'CHEMISTRY',
       'GEOLOGY AND EARTH SCIENCE', 'GEOSCIENCES', 'OCEANOGRAPHY',
       'PHYSICS', 'MATERIALS SCIENCE',
       'MULTI-DISCIPLINARY OR GENERAL SCIENCE',
       'NUCLEAR, INDUSTRIAL RADIOLOGY, AND BIOLOGICAL TECHNOLOGIES',
       'PSYCHOLOGY', 'EDUCATIONAL PSYCHOLOGY', 'CLINICAL PSYCHOLOGY',
       'COUNSELING PSYCHOLOGY',
       'INDUSTRIAL AND ORGANIZATIONAL PSYCHOLOGY', 'SOCIAL PSYCHOLOGY',
       'MISCELLANEOUS PSYCHOLOGY', 'CRIMINAL JUSTICE AND FIRE PROTECTION',
       'PUBLIC ADMINISTRATION', 'PUBLIC POLICY',
       'HUMAN SERVICES AND COMMUNITY ORGANIZATION', 'SOCIAL WORK',
       'GENERAL SOCIAL SCIENCES', 'ECONOMICS',
       'ANTHROPOLOGY AND ARCHEOLOGY', 'CRIMINOLOGY', 'GEOGRAPHY',
       'INTERNATIONAL RELATIONS', 'POLITICAL SCIENCE AND GOVERNMENT',
       'SOCIOLOGY', 'MISCELLANEOUS SOCIAL SCIENCES',
       'CONSTRUCTION SERVICES',
       'ELECTRICAL, MECHANICAL, AND PRECISION TECHNOLOGIES AND PRODUCTION',
       'TRANSPORTATION SCIENCES AND TECHNOLOGIES', 'FINE ARTS',
       'DRAMA AND THEATER ARTS', 'MUSIC', 'VISUAL AND PERFORMING ARTS',
       'COMMERCIAL ART AND GRAPHIC DESIGN',
       'FILM VIDEO AND PHOTOGRAPHIC ARTS', 'ART HISTORY AND CRITICISM',
       'STUDIO ARTS', 'MISCELLANEOUS FINE ARTS',
       'GENERAL MEDICAL AND HEALTH SERVICES',
       'COMMUNICATION DISORDERS SCIENCES AND SERVICES',
       'HEALTH AND MEDICAL ADMINISTRATIVE SERVICES',
       'MEDICAL ASSISTING SERVICES', 'MEDICAL TECHNOLOGIES TECHNICIANS',
       'HEALTH AND MEDICAL PREPARATORY PROGRAMS', 'NURSING',
       'PHARMACY PHARMACEUTICAL SCIENCES AND ADMINISTRATION',
       'TREATMENT THERAPY PROFESSIONS', 'COMMUNITY AND PUBLIC HEALTH',
       'MISCELLANEOUS HEALTH MEDICAL PROFESSIONS', 'GENERAL BUSINESS',
       'ACCOUNTING', 'ACTUARIAL SCIENCE',
       'BUSINESS MANAGEMENT AND ADMINISTRATION',
       'OPERATIONS LOGISTICS AND E-COMMERCE', 'BUSINESS ECONOMICS',
       'MARKETING AND MARKETING RESEARCH', 'FINANCE',
       'HUMAN RESOURCES AND PERSONNEL MANAGEMENT',
       'INTERNATIONAL BUSINESS', 'HOSPITALITY MANAGEMENT',
       'MANAGEMENT INFORMATION SYSTEMS AND STATISTICS',
       'MISCELLANEOUS BUSINESS & MEDICAL ADMINISTRATION', 'HISTORY',
       'UNITED STATES HISTORY'], dtype=object)

In [42]:
df_age['Major_category'].value_counts()

Engineering                            29
Education                              16
Humanities & Liberal Arts              15
Biology & Life Science                 14
Business                               13
Health                                 12
Computers & Mathematics                11
Agriculture & Natural Resources        10
Physical Sciences                      10
Social Science                          9
Psychology & Social Work                9
Arts                                    8
Industrial Arts & Consumer Services     7
Law & Public Policy                     5
Communications & Journalism             4
Interdisciplinary                       1
Name: Major_category, dtype: int64

In [74]:
df_age.groupby('Major_category')['Major'].unique()

Major_category
Agriculture & Natural Resources        [GENERAL AGRICULTURE, AGRICULTURE PRODUCTION A...
Arts                                   [FINE ARTS, DRAMA AND THEATER ARTS, MUSIC, VIS...
Biology & Life Science                 [ENVIRONMENTAL SCIENCE, BIOLOGY, BIOCHEMICAL S...
Business                               [GENERAL BUSINESS, ACCOUNTING, ACTUARIAL SCIEN...
Communications & Journalism            [COMMUNICATIONS, JOURNALISM, MASS MEDIA, ADVER...
Computers & Mathematics                [COMMUNICATION TECHNOLOGIES, COMPUTER AND INFO...
Education                              [GENERAL EDUCATION, EDUCATIONAL ADMINISTRATION...
Engineering                            [ARCHITECTURE, GENERAL ENGINEERING, AEROSPACE ...
Health                                 [NUTRITION SCIENCES, GENERAL MEDICAL AND HEALT...
Humanities & Liberal Arts              [AREA ETHNIC AND CIVILIZATION STUDIES, LINGUIS...
Industrial Arts & Consumer Services    [COSMETOLOGY SERVICES AND CULINARY ARTS, FAMIL...
Interdisciplinary                                      [MULTI/INTERDISCIPLINARY STUDIES]
Law & Public Policy                    [COURT REPORTING, PRE-LAW AND LEGAL STUDIES, C...
Physical Sciences                      [PHYSICAL SCIENCES, ASTRONOMY AND ASTROPHYSICS...
Psychology & Social Work               [PSYCHOLOGY, EDUCATIONAL PSYCHOLOGY, CLINICAL ...
Social Science                         [INTERDISCIPLINARY SOCIAL SCIENCES, GENERAL SO...
Name: Major, dtype: object

In [77]:
df_age.loc[df_age['Major_category'] == 'Business'  , :              ]['Major']

index
158                                   GENERAL BUSINESS
159                                         ACCOUNTING
160                                  ACTUARIAL SCIENCE
161             BUSINESS MANAGEMENT AND ADMINISTRATION
162                OPERATIONS LOGISTICS AND E-COMMERCE
163                                 BUSINESS ECONOMICS
164                   MARKETING AND MARKETING RESEARCH
165                                            FINANCE
166           HUMAN RESOURCES AND PERSONNEL MANAGEMENT
167                             INTERNATIONAL BUSINESS
168                             HOSPITALITY MANAGEMENT
169      MANAGEMENT INFORMATION SYSTEMS AND STATISTICS
170    MISCELLANEOUS BUSINESS & MEDICAL ADMINISTRATION
Name: Major, dtype: object

In [78]:
df_age.loc[ : , ['Total','Employed','Unemployed','Unemployment_rate']]

        Total  Employed  Unemployed  Unemployment_rate
index
0      128148     90245        2423           0.026147
1       95326     76865        2266           0.028636
2       33955     26321         821           0.030248
3      103549     81177        3619           0.042679
4       24280     17281         894           0.049188
...       ...       ...         ...                ...
168    200854    163393        8862           0.051447
169    156673    134478        6186           0.043977
170    102753     77471        4308           0.052679
171    712509    478416       33725           0.065851
172     17746     11887         943           0.073500

[173 rows x 4 columns]

In [ ]:
# 실업 1등

In [84]:
df_age.loc[ : , ['Major','Total','Employed','Unemployed','Unemployment_rate']].sort_values('Unemployment_rate' ,ascending= False)

,Major,Total,Employed,Unemployed,Unemployment_rate
index,,,,,
146,MISCELLANEOUS FINE ARTS,8511,6431,1190,0.156147
116,CLINICAL PSYCHOLOGY,7638,5128,587,0.102712
93,MILITARY TECHNOLOGIES,4315,1650,187,0.101796
27,SCHOOL STUDENT COUNSELING,2396,1492,169,0.101746
77,LIBRARY SCIENCE,16193,7091,743,0.094843
...,...,...,...,...,...
97,MATHEMATICS AND COMPUTER SCIENCE,7184,5874,150,0.024900
111,MATERIALS SCIENCE,7208,5866,134,0.022333
85,PHARMACOLOGY,5015,3481,57,0.016111
26,EDUCATIONAL ADMINISTRATION AND SUPERVISION,4037,3113,0,0.000000
51,GEOLOGICAL AND GEOPHYSICAL ENGINEERING,6264,4120,0,0.000000

In [ ]:
# 코멘트로 1등과 알려주기

In [86]:
df_age.loc[(df_age['Employed']/df_age['Total'] * 100) == (df_age['Employed']/df_age['Total'] * 100).max() , :]

,Major_code,Major,Major_category,Total,Employed,Employed_full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th
index,,,,,,,,,,,
18,2100,COMPUTER AND INFORMATION SYSTEMS,Computers & Mathematics,253782,218248,189950,11945,0.051891,65000,45000,90000.0

In [51]:
df_grad

,Major_code,Major,Major_category,Grad_total,Grad_sample_size,Grad_employed,Grad_full_time_year_round,Grad_unemployed,Grad_unemployment_rate,Grad_median,Nongrad_total,Nongrad_employed,Nongrad_full_time_year_round,Nongrad_unemployed,Nongrad_unemployment_rate,Nongrad_median,Grad_share,Grad_premium
index,,,,,,,,,,,,,,,,,,
0,5601,CONSTRUCTION SERVICES,Industrial Arts & Consumer Services,9173,200,7098,6511,681,0.087543,75000.0,86062,73607,62435,3928,0.050661,65000.0,0.096320,0.153846
1,6004,COMMERCIAL ART AND GRAPHIC DESIGN,Arts,53864,882,40492,29553,2482,0.057756,60000.0,461977,347166,250596,25484,0.068386,48000.0,0.104420,0.250000
2,6211,HOSPITALITY MANAGEMENT,Business,24417,437,18368,14784,1465,0.073867,65000.0,179335,145597,113579,7409,0.048423,50000.0,0.119837,0.300000
3,2201,COSMETOLOGY SERVICES AND CULINARY ARTS,Industrial Arts & Consumer Services,5411,72,3590,2701,316,0.080901,47000.0,37575,29738,23249,1661,0.052900,41600.0,0.125878,0.129808
4,2001,COMMUNICATION TECHNOLOGIES,Computers & Mathematics,9109,171,7512,5622,466,0.058411,57000.0,53819,43163,34231,3389,0.072800,52000.0,0.144753,0.096154
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,5203,COUNSELING PSYCHOLOGY,Psychology & Social Work,51812,724,38468,28808,1420,0.035600,50000.0,16781,12377,8502,835,0.063200,40000.0,0.755354,0.250000
169,5202,CLINICAL PSYCHOLOGY,Psychology & Social Work,22716,355,16612,12022,782,0.044958,70000.0,6519,4368,3033,357,0.075556,46000.0,0.777014,0.521739
170,6106,HEALTH AND MEDICAL PREPARATORY PROGRAMS,Health,114971,1766,78132,58825,1732,0.021687,135000.0,26320,16221,12185,1012,0.058725,51000.0,0.813718,1.647059
171,2303,SCHOOL STUDENT COUNSELING,Education,19841,260,11313,8130,613,0.051400,56000.0,2232,1328,980,169,0.112892,42000.0,0.898881,0.333333
172,2301,EDUCATIONAL ADMINISTRATION AND SUPERVISION,Education,54159,841,34142,26850,582,0.016761,65000.0,4003,3079,2434,0,0.000000,58000.0,0.931175,0.120690

In [50]:
df_grad = df_grad.drop(['Grad_P25','Grad_P75'] , axis= 1)

In [56]:
df_age.loc[df_age['Major_code'] == 1100 , :]

,Major_code,Major,Major_category,Total,Employed,Employed_full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th
index,,,,,,,,,,,
0,1100,GENERAL AGRICULTURE,Agriculture & Natural Resources,128148,90245,74078,2423,0.026147,50000,34000,80000.0

In [36]:
df_grad.loc[df_grad['Major_code'] == 1100 , :]

,Major_code,Major,Major_category,Grad_total,Grad_sample_size,Grad_employed,Grad_full_time_year_round,Grad_unemployed,Grad_unemployment_rate,Grad_median,...,Nongrad_total,Nongrad_employed,Nongrad_full_time_year_round,Nongrad_unemployed,Nongrad_unemployment_rate,Nongrad_median,Nongrad_P25,Nongrad_P75,Grad_share,Grad_premium
index,,,,,,,,,,,,,,,,,,,,,
42,1100,GENERAL AGRICULTURE,Agriculture & Natural Resources,44306,764,28930,23024,874,0.029325,68000.0,...,123984,86631,72409,2352,0.026432,50000.0,34000,80000.0,0.263272,0.36

In [57]:
df_recent.loc[df_recent['Major_code'] == 1100 , :]

,Rank,Major_code,Major,Major_category,Total,Sample_size,Men,Women,ShareWomen,Employed,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
index,,,,,,,,,,,,,,,,,,,,,
64,65,1100,GENERAL AGRICULTURE,Agriculture & Natural Resources,10399,158,1761,1874,0.515543,8884,...,2031,5888,178,0.019642,40000,30000,50000,2418,4717,839

In [45]:
df_recent

,Rank,Major_code,Major,Major_category,Total,Sample_size,Men,Women,ShareWomen,Employed,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
index,,,,,,,,,,,,,,,,,,,,,
0,1,2419,PETROLEUM ENGINEERING,Engineering,2339,36,2057,282,0.120564,1976,...,270,1207,37,0.018381,110000,95000,125000,1534,364,193
1,2,2416,MINING AND MINERAL ENGINEERING,Engineering,756,7,679,77,0.101852,640,...,170,388,85,0.117241,75000,55000,90000,350,257,50
2,3,2415,METALLURGICAL ENGINEERING,Engineering,856,3,725,131,0.153037,648,...,133,340,16,0.024096,73000,50000,105000,456,176,0
3,4,2417,NAVAL ARCHITECTURE AND MARINE ENGINEERING,Engineering,1258,16,1123,135,0.107313,758,...,150,692,40,0.050125,70000,43000,80000,529,102,0
4,5,2405,CHEMICAL ENGINEERING,Engineering,32260,289,21239,11021,0.341631,25694,...,5180,16697,1672,0.061098,65000,50000,75000,18314,4440,972
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,169,3609,ZOOLOGY,Biology & Life Science,8409,47,3050,5359,0.637293,6259,...,2190,3602,304,0.046320,26000,20000,39000,2771,2947,743
169,170,5201,EDUCATIONAL PSYCHOLOGY,Psychology & Social Work,2854,7,522,2332,0.817099,2125,...,572,1211,148,0.065112,25000,24000,34000,1488,615,82
170,171,5202,CLINICAL PSYCHOLOGY,Psychology & Social Work,2838,13,568,2270,0.799859,2101,...,648,1293,368,0.149048,25000,25000,40000,986,870,622
171,172,5203,COUNSELING PSYCHOLOGY,Psychology & Social Work,4626,21,931,3695,0.798746,3777,...,965,2738,214,0.053621,23400,19200,26000,2403,1245,308
172,173,3501,LIBRARY SCIENCE,Education,1098,2,134,964,0.877960,742,...,237,410,87,0.104946,22000,20000,22000,288,338,192