In [5]:
import pandas as pd 
import numpy as np

In [6]:
# 모든 연령
df_age = pd.read_csv('csv/all-ages.csv', index_col=0)

In [7]:
# 대학원생
df_grad = pd.read_csv('csv/grad-students.csv', index_col=0)

In [8]:

df_recent = pd.read_csv('csv/recent-grads.csv', index_col=0)

In [9]:
df_age

,Major_code,Major,Major_category,Total,Employed,Employed_full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th
index,,,,,,,,,,,
0,1100,GENERAL AGRICULTURE,Agriculture & Natural Resources,128148,90245,74078,2423,0.026147,50000,34000,80000.0
1,1101,AGRICULTURE PRODUCTION AND MANAGEMENT,Agriculture & Natural Resources,95326,76865,64240,2266,0.028636,54000,36000,80000.0
2,1102,AGRICULTURAL ECONOMICS,Agriculture & Natural Resources,33955,26321,22810,821,0.030248,63000,40000,98000.0
3,1103,ANIMAL SCIENCES,Agriculture & Natural Resources,103549,81177,64937,3619,0.042679,46000,30000,72000.0
4,1104,FOOD SCIENCE,Agriculture & Natural Resources,24280,17281,12722,894,0.049188,62000,38500,90000.0
...,...,...,...,...,...,...,...,...,...,...,...
168,6211,HOSPITALITY MANAGEMENT,Business,200854,163393,122499,8862,0.051447,49000,33000,70000.0
169,6212,MANAGEMENT INFORMATION SYSTEMS AND STATISTICS,Business,156673,134478,118249,6186,0.043977,72000,50000,100000.0
170,6299,MISCELLANEOUS BUSINESS & MEDICAL ADMINISTRATION,Business,102753,77471,61603,4308,0.052679,53000,36000,83000.0
171,6402,HISTORY,Humanities & Liberal Arts,712509,478416,354163,33725,0.065851,50000,35000,80000.0
172,6403,UNITED STATES HISTORY,Humanities & Liberal Arts,17746,11887,8204,943,0.073500,50000,39000,81000.0

In [10]:
df_age['Major_category'].isna().sum()

0

In [11]:
df_age['Major_category'].unique()

array(['Agriculture & Natural Resources', 'Biology & Life Science',
       'Engineering', 'Humanities & Liberal Arts',
       'Communications & Journalism', 'Computers & Mathematics',
       'Industrial Arts & Consumer Services', 'Education',
       'Law & Public Policy', 'Interdisciplinary', 'Health',
       'Social Science', 'Physical Sciences', 'Psychology & Social Work',
       'Arts', 'Business'], dtype=object)

In [64]:
df_age['Major'].unique()

array(['GENERAL AGRICULTURE', 'AGRICULTURE PRODUCTION AND MANAGEMENT',
       'AGRICULTURAL ECONOMICS', 'ANIMAL SCIENCES', 'FOOD SCIENCE',
       'PLANT SCIENCE AND AGRONOMY', 'SOIL SCIENCE',
       'MISCELLANEOUS AGRICULTURE', 'ENVIRONMENTAL SCIENCE', 'FORESTRY',
       'NATURAL RESOURCES MANAGEMENT', 'ARCHITECTURE',
       'AREA ETHNIC AND CIVILIZATION STUDIES', 'COMMUNICATIONS',
       'JOURNALISM', 'MASS MEDIA', 'ADVERTISING AND PUBLIC RELATIONS',
       'COMMUNICATION TECHNOLOGIES', 'COMPUTER AND INFORMATION SYSTEMS',
       'COMPUTER PROGRAMMING AND DATA PROCESSING', 'COMPUTER SCIENCE',
       'INFORMATION SCIENCES',
       'COMPUTER ADMINISTRATION MANAGEMENT AND SECURITY',
       'COMPUTER NETWORKING AND TELECOMMUNICATIONS',
       'COSMETOLOGY SERVICES AND CULINARY ARTS', 'GENERAL EDUCATION',
       'EDUCATIONAL ADMINISTRATION AND SUPERVISION',
       'SCHOOL STUDENT COUNSELING', 'ELEMENTARY EDUCATION',
       'MATHEMATICS TEACHER EDUCATION',
       'PHYSICAL AND HEALTH EDUCATION TEACHING',
       'EARLY CHILDHOOD EDUCATION',
       'SCIENCE AND COMPUTER TEACHER EDUCATION',
       'SECONDARY TEACHER EDUCATION', 'SPECIAL NEEDS EDUCATION',
       'SOCIAL SCIENCE OR HISTORY TEACHER EDUCATION',
       'TEACHER EDUCATION: MULTIPLE LEVELS',
       'LANGUAGE AND DRAMA EDUCATION', 'ART AND MUSIC EDUCATION',
       'MISCELLANEOUS EDUCATION', 'GENERAL ENGINEERING',
       'AEROSPACE ENGINEERING', 'BIOLOGICAL ENGINEERING',
       'ARCHITECTURAL ENGINEERING', 'BIOMEDICAL ENGINEERING',
       'CHEMICAL ENGINEERING', 'CIVIL ENGINEERING',
       'COMPUTER ENGINEERING', 'ELECTRICAL ENGINEERING',
       'ENGINEERING MECHANICS PHYSICS AND SCIENCE',
       'ENVIRONMENTAL ENGINEERING',
       'GEOLOGICAL AND GEOPHYSICAL ENGINEERING',
       'INDUSTRIAL AND MANUFACTURING ENGINEERING',
       'MATERIALS ENGINEERING AND MATERIALS SCIENCE',
       'MECHANICAL ENGINEERING', 'METALLURGICAL ENGINEERING',
       'MINING AND MINERAL ENGINEERING',
       'NAVAL ARCHITECTURE AND MARINE ENGINEERING', 'NUCLEAR ENGINEERING',
       'PETROLEUM ENGINEERING', 'MISCELLANEOUS ENGINEERING',
       'ENGINEERING TECHNOLOGIES',
       'ENGINEERING AND INDUSTRIAL MANAGEMENT',
       'ELECTRICAL ENGINEERING TECHNOLOGY',
       'INDUSTRIAL PRODUCTION TECHNOLOGIES',
       'MECHANICAL ENGINEERING RELATED TECHNOLOGIES',
       'MISCELLANEOUS ENGINEERING TECHNOLOGIES',
       'LINGUISTICS AND COMPARATIVE LANGUAGE AND LITERATURE',
       'FRENCH GERMAN LATIN AND OTHER COMMON FOREIGN LANGUAGE STUDIES',
       'OTHER FOREIGN LANGUAGES', 'FAMILY AND CONSUMER SCIENCES',
       'COURT REPORTING', 'PRE-LAW AND LEGAL STUDIES',
       'ENGLISH LANGUAGE AND LITERATURE', 'COMPOSITION AND RHETORIC',
       'LIBERAL ARTS', 'HUMANITIES', 'LIBRARY SCIENCE', 'BIOLOGY',
       'BIOCHEMICAL SCIENCES', 'BOTANY', 'MOLECULAR BIOLOGY', 'ECOLOGY',
       'GENETICS', 'MICROBIOLOGY', 'PHARMACOLOGY', 'PHYSIOLOGY',
       'ZOOLOGY', 'NEUROSCIENCE', 'MISCELLANEOUS BIOLOGY', 'MATHEMATICS',
       'APPLIED MATHEMATICS', 'STATISTICS AND DECISION SCIENCE',
       'MILITARY TECHNOLOGIES', 'MULTI/INTERDISCIPLINARY STUDIES',
       'INTERCULTURAL AND INTERNATIONAL STUDIES', 'NUTRITION SCIENCES',
       'MATHEMATICS AND COMPUTER SCIENCE',
       'COGNITIVE SCIENCE AND BIOPSYCHOLOGY',
       'INTERDISCIPLINARY SOCIAL SCIENCES',
       'PHYSICAL FITNESS PARKS RECREATION AND LEISURE',
       'PHILOSOPHY AND RELIGIOUS STUDIES',
       'THEOLOGY AND RELIGIOUS VOCATIONS', 'PHYSICAL SCIENCES',
       'ASTRONOMY AND ASTROPHYSICS',
       'ATMOSPHERIC SCIENCES AND METEOROLOGY', 'CHEMISTRY',
       'GEOLOGY AND EARTH SCIENCE', 'GEOSCIENCES', 'OCEANOGRAPHY',
       'PHYSICS', 'MATERIALS SCIENCE',
       'MULTI-DISCIPLINARY OR GENERAL SCIENCE',
       'NUCLEAR, INDUSTRIAL RADIOLOGY, AND BIOLOGICAL TECHNOLOGIES',
       'PSYCHOLOGY', 'EDUCATIONAL PSYCHOLOGY', 'CLINICAL PSYCHOLOGY',
       'COUNSELING PSYCHOLOGY',
       'INDUSTRIAL AND ORGANIZATIONAL PSYCHOLOGY', 'SOCIAL PSYCHOLOGY',
       'MISCELLANEOUS PSYCHOLOGY', 'CRIMINAL JUSTICE AND FIRE PROTECTION',
       'PUBLIC ADMINISTRATION', 'PUBLIC POLICY',
       'HUMAN SERVICES AND COMMUNITY ORGANIZATION', 'SOCIAL WORK',
       'GENERAL SOCIAL SCIENCES', 'ECONOMICS',
       'ANTHROPOLOGY AND ARCHEOLOGY', 'CRIMINOLOGY', 'GEOGRAPHY',
       'INTERNATIONAL RELATIONS', 'POLITICAL SCIENCE AND GOVERNMENT',
       'SOCIOLOGY', 'MISCELLANEOUS SOCIAL SCIENCES',
       'CONSTRUCTION SERVICES',
       'ELECTRICAL, MECHANICAL, AND PRECISION TECHNOLOGIES AND PRODUCTION',
       'TRANSPORTATION SCIENCES AND TECHNOLOGIES', 'FINE ARTS',
       'DRAMA AND THEATER ARTS', 'MUSIC', 'VISUAL AND PERFORMING ARTS',
       'COMMERCIAL ART AND GRAPHIC DESIGN',
       'FILM VIDEO AND PHOTOGRAPHIC ARTS', 'ART HISTORY AND CRITICISM',
       'STUDIO ARTS', 'MISCELLANEOUS FINE ARTS',
       'GENERAL MEDICAL AND HEALTH SERVICES',
       'COMMUNICATION DISORDERS SCIENCES AND SERVICES',
       'HEALTH AND MEDICAL ADMINISTRATIVE SERVICES',
       'MEDICAL ASSISTING SERVICES', 'MEDICAL TECHNOLOGIES TECHNICIANS',
       'HEALTH AND MEDICAL PREPARATORY PROGRAMS', 'NURSING',
       'PHARMACY PHARMACEUTICAL SCIENCES AND ADMINISTRATION',
       'TREATMENT THERAPY PROFESSIONS', 'COMMUNITY AND PUBLIC HEALTH',
       'MISCELLANEOUS HEALTH MEDICAL PROFESSIONS', 'GENERAL BUSINESS',
       'ACCOUNTING', 'ACTUARIAL SCIENCE',
       'BUSINESS MANAGEMENT AND ADMINISTRATION',
       'OPERATIONS LOGISTICS AND E-COMMERCE', 'BUSINESS ECONOMICS',
       'MARKETING AND MARKETING RESEARCH', 'FINANCE',
       'HUMAN RESOURCES AND PERSONNEL MANAGEMENT',
       'INTERNATIONAL BUSINESS', 'HOSPITALITY MANAGEMENT',
       'MANAGEMENT INFORMATION SYSTEMS AND STATISTICS',
       'MISCELLANEOUS BUSINESS & MEDICAL ADMINISTRATION', 'HISTORY',
       'UNITED STATES HISTORY'], dtype=object)

In [42]:
df_age['Major_category'].value_counts()

Engineering                            29
Education                              16
Humanities & Liberal Arts              15
Biology & Life Science                 14
Business                               13
Health                                 12
Computers & Mathematics                11
Agriculture & Natural Resources        10
Physical Sciences                      10
Social Science                          9
Psychology & Social Work                9
Arts                                    8
Industrial Arts & Consumer Services     7
Law & Public Policy                     5
Communications & Journalism             4
Interdisciplinary                       1
Name: Major_category, dtype: int64

In [17]:
df_age.loc[df_age['Major_category'] == 'Engineering', :]['Major']

index
11                                    ARCHITECTURE
40                             GENERAL ENGINEERING
41                           AEROSPACE ENGINEERING
42                          BIOLOGICAL ENGINEERING
43                       ARCHITECTURAL ENGINEERING
44                          BIOMEDICAL ENGINEERING
45                            CHEMICAL ENGINEERING
46                               CIVIL ENGINEERING
47                            COMPUTER ENGINEERING
48                          ELECTRICAL ENGINEERING
49       ENGINEERING MECHANICS PHYSICS AND SCIENCE
50                       ENVIRONMENTAL ENGINEERING
51          GEOLOGICAL AND GEOPHYSICAL ENGINEERING
52        INDUSTRIAL AND MANUFACTURING ENGINEERING
53     MATERIALS ENGINEERING AND MATERIALS SCIENCE
54                          MECHANICAL ENGINEERING
55                       METALLURGICAL ENGINEERING
56                  MINING AND MINERAL ENGINEERING
57       NAVAL ARCHITECTURE AND MARINE ENGINEERING
58                             NUCLEAR ENGINEERING
59                           PETROLEUM ENGINEERING
60                       MISCELLANEOUS ENGINEERING
61                        ENGINEERING TECHNOLOGIES
62           ENGINEERING AND INDUSTRIAL MANAGEMENT
63               ELECTRICAL ENGINEERING TECHNOLOGY
64              INDUSTRIAL PRODUCTION TECHNOLOGIES
65     MECHANICAL ENGINEERING RELATED TECHNOLOGIES
66          MISCELLANEOUS ENGINEERING TECHNOLOGIES
111                              MATERIALS SCIENCE
Name: Major, dtype: object

In [77]:
df_age.loc[df_age['Major_category'] == 'Business'  , :              ]['Major']

index
158                                   GENERAL BUSINESS
159                                         ACCOUNTING
160                                  ACTUARIAL SCIENCE
161             BUSINESS MANAGEMENT AND ADMINISTRATION
162                OPERATIONS LOGISTICS AND E-COMMERCE
163                                 BUSINESS ECONOMICS
164                   MARKETING AND MARKETING RESEARCH
165                                            FINANCE
166           HUMAN RESOURCES AND PERSONNEL MANAGEMENT
167                             INTERNATIONAL BUSINESS
168                             HOSPITALITY MANAGEMENT
169      MANAGEMENT INFORMATION SYSTEMS AND STATISTICS
170    MISCELLANEOUS BUSINESS & MEDICAL ADMINISTRATION
Name: Major, dtype: object

In [78]:
df_age.loc[ : , ['Total','Employed','Unemployed','Unemployment_rate']]

        Total  Employed  Unemployed  Unemployment_rate
index
0      128148     90245        2423           0.026147
1       95326     76865        2266           0.028636
2       33955     26321         821           0.030248
3      103549     81177        3619           0.042679
4       24280     17281         894           0.049188
...       ...       ...         ...                ...
168    200854    163393        8862           0.051447
169    156673    134478        6186           0.043977
170    102753     77471        4308           0.052679
171    712509    478416       33725           0.065851
172     17746     11887         943           0.073500

[173 rows x 4 columns]

In [ ]:
# 실업 1등

In [84]:
df_age.loc[ : , ['Major','Total','Employed','Unemployed','Unemployment_rate']].sort_values('Unemployment_rate' ,ascending= False)

,Major,Total,Employed,Unemployed,Unemployment_rate
index,,,,,
146,MISCELLANEOUS FINE ARTS,8511,6431,1190,0.156147
116,CLINICAL PSYCHOLOGY,7638,5128,587,0.102712
93,MILITARY TECHNOLOGIES,4315,1650,187,0.101796
27,SCHOOL STUDENT COUNSELING,2396,1492,169,0.101746
77,LIBRARY SCIENCE,16193,7091,743,0.094843
...,...,...,...,...,...
97,MATHEMATICS AND COMPUTER SCIENCE,7184,5874,150,0.024900
111,MATERIALS SCIENCE,7208,5866,134,0.022333
85,PHARMACOLOGY,5015,3481,57,0.016111
26,EDUCATIONAL ADMINISTRATION AND SUPERVISION,4037,3113,0,0.000000
51,GEOLOGICAL AND GEOPHYSICAL ENGINEERING,6264,4120,0,0.000000

In [ ]:
# 취업율 코멘트로 1등과 알려주기

In [75]:
df_age.loc[(df_age['Employed']/df_age['Total'] * 100) == (df_age['Employed']/df_age['Total'] * 100).max() , :]

,Major_code,Major,Major_category,Total,Employed,Employed_full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th
index,,,,,,,,,,,
18,2100,COMPUTER AND INFORMATION SYSTEMS,Computers & Mathematics,253782,218248,189950,11945,0.051891,65000,45000,90000.0

In [78]:
df = df_age.loc[df_age['Major_category']=='Computers & Mathematics'   , : ]

In [84]:
df.loc[df['Total'].max() == df['Total'] , 'Major'].values

array(['COMPUTER SCIENCE'], dtype=object)

In [86]:
x= np.array(3)

In [95]:
y = df[['Median','P25th','P75th']].head(1).values

In [106]:
y= y.reshape(3,1)

In [107]:
z = ['Median','P25th','P75th']

In [119]:
df_fig = pd.DataFrame({0:[20190103, 20190222, 20190531,x],
                             }, index = ['총 졸업자', '취업자 수', '실업자','실업자비율'])

In [120]:
student_card

              0
총 졸업자  20190103
취업자 수  20190222
실업자    20190531
실업자비율   [49609]

In [121]:
df_fig = pd.DataFrame({ '컬럼' :['총 졸업자', '취업자 수', '실업자','실업자비율'] ,'값':[x, y, z,a],
                             }, index = [1,2,3,4])

NameError: name 'a' is not defined

In [118]:
x = df.loc[df['Major']=='COMMUNICATION TECHNOLOGIES' , 'Employed'].values

In [34]:
df_age[['Employed_full_time_year_round','Unemployed','Unemployment_rate' ] ].values

array([[7.40780000e+04, 2.42300000e+03, 2.61471060e-02],
       [6.42400000e+04, 2.26600000e+03, 2.86360590e-02],
       [2.28100000e+04, 8.21000000e+02, 3.02483240e-02],
       [6.49370000e+04, 3.61900000e+03, 4.26789000e-02],
       [1.27220000e+04, 8.94000000e+02, 4.91884460e-02],
       [5.10770000e+04, 2.07000000e+03, 3.17908870e-02],
       [4.04200000e+03, 2.64000000e+02, 5.08670520e-02],
       [5.07400000e+03, 2.61000000e+02, 3.92304220e-02],
       [6.52380000e+04, 4.73600000e+03, 5.12898270e-02],
       [3.96130000e+04, 2.14400000e+03, 4.25633290e-02],
       [5.05950000e+04, 3.78900000e+03, 5.43412790e-02],
       [1.63020000e+05, 2.03940000e+04, 8.59911290e-02],
       [5.05300000e+04, 5.52500000e+03, 6.79389590e-02],
       [5.95739000e+05, 5.43900000e+04, 6.43603140e-02],
       [2.35407000e+05, 2.07540000e+04, 6.19167520e-02],
       [1.25489000e+05, 1.54310000e+04, 8.30047600e-02],
       [1.11552000e+05, 1.06240000e+04, 6.72162570e-02],
       [3.72610000e+04, 4.60900000e+03, 8.50086690e-02],
       [1.89950000e+05, 1.19450000e+04, 5.18912390e-02],
       [1.87470000e+04, 2.26500000e+03, 9.02642170e-02],
       [5.61052000e+05, 3.41960000e+04, 4.95186570e-02],
       [5.76040000e+04, 3.70400000e+03, 5.28410630e-02],
       [2.81560000e+04, 2.62600000e+03, 7.50457250e-02],
       [3.59540000e+04, 2.74800000e+03, 5.86941200e-02],
       [2.57800000e+04, 1.94100000e+03, 5.49407000e-02],
       [5.91863000e+05, 3.87420000e+04, 4.39035170e-02],
       [2.46800000e+03, 0.00000000e+00, 0.00000000e+00],
       [1.09300000e+03, 1.69000000e+02, 1.01745936e-01],
       [5.01786000e+05, 3.26850000e+04, 3.83591640e-02],
       [2.94940000e+04, 1.61000000e+03, 3.29830170e-02],
       [1.36343000e+05, 9.38900000e+03, 4.62669580e-02],
       [7.11330000e+04, 5.89000000e+03, 4.93506490e-02],
       [2.48170000e+04, 1.59600000e+03, 4.21998940e-02],
       [8.89170000e+04, 5.92500000e+03, 4.37556770e-02],
       [7.16150000e+04, 5.35700000e+03, 4.71446550e-02],
       [5.16320000e+04, 3.80000000e+03, 4.60131990e-02],
       [3.78920000e+04, 2.03200000e+03, 3.33568630e-02],
       [6.76510000e+04, 5.62400000e+03, 4.80802930e-02],
       [9.47560000e+04, 6.62900000e+03, 4.09733730e-02],
       [9.13220000e+04, 5.14500000e+03, 3.92152380e-02],
       [3.12023000e+05, 1.79860000e+04, 4.76882370e-02],
       [3.84910000e+04, 1.96900000e+03, 4.19713090e-02],
       [1.86210000e+04, 1.52100000e+03, 5.89740610e-02],
       [1.11800000e+04, 1.01700000e+03, 6.90427700e-02],
       [9.20200000e+03, 1.10500000e+03, 7.90358340e-02],
       [1.09406000e+05, 6.38800000e+03, 4.62613610e-02],
       [2.20528000e+05, 1.48230000e+04, 5.33865890e-02],
       [1.11025000e+05, 7.45600000e+03, 5.47438290e-02],
       [4.22317000e+05, 2.60640000e+04, 5.05087890e-02],
       [1.22570000e+04, 6.83000000e+02, 4.38045150e-02],
       [8.10400000e+03, 4.72000000e+02, 4.57320030e-02],
       [3.35000000e+03, 0.00000000e+00, 0.00000000e+00],
       [8.50140000e+04, 5.49800000e+03, 5.14933830e-02],
       [1.18710000e+04, 9.33000000e+02, 5.97311140e-02],
       [3.62053000e+05, 1.93600000e+04, 4.38438560e-02],
       [5.46200000e+03, 3.26000000e+02, 4.48726770e-02],
       [6.41900000e+03, 3.66000000e+02, 4.70316110e-02],
       [9.22600000e+03, 4.49000000e+02, 4.03088250e-02],
       [6.47400000e+03, 5.27000000e+02, 6.71594240e-02],
       [1.16360000e+04, 6.17000000e+02, 4.22053490e-02],
       [3.71940000e+04, 2.74400000e+03, 5.88210080e-02],
       [2.56510000e+04, 1.47500000e+03, 4.67112140e-02],
       [2.21040000e+04, 1.57700000e+03, 5.46582560e-02],
       [6.41570000e+04, 4.57200000e+03, 5.83840940e-02],
       [5.72660000e+04, 3.43100000e+03, 4.98460020e-02],
       [2.12730000e+04, 1.10100000e+03, 4.35332730e-02],
       [4.61830000e+04, 3.40100000e+03, 6.01968210e-02],
       [3.04280000e+04, 4.04300000e+03, 8.13480890e-02],
       [9.94590000e+04, 9.59800000e+03, 5.87925420e-02],
       [2.30460000e+04, 2.70700000e+03, 7.23738740e-02],
       [1.54167000e+05, 1.42730000e+04, 5.57848490e-02],
       [6.14300000e+03, 5.18000000e+02, 6.65125830e-02],
       [3.72540000e+04, 3.69900000e+03, 6.98478040e-02],
       [4.82229000e+05, 5.22480000e+04, 6.86453040e-02],
       [2.96280000e+04, 3.56900000e+03, 7.36149500e-02],
       [2.96792000e+05, 2.93480000e+04, 6.75785210e-02],
       [1.94600000e+04, 2.53000000e+03, 7.78437590e-02],
       [4.33000000e+03, 7.43000000e+02, 9.48429920e-02],
       [4.22788000e+05, 3.67570000e+04, 5.93011700e-02],
       [3.71030000e+04, 4.05600000e+03, 7.15975290e-02],
       [6.33300000e+03, 3.27000000e+02, 3.40235150e-02],
       [1.33660000e+04, 1.30300000e+03, 6.05370750e-02],
       [2.56770000e+04, 1.88800000e+03, 4.89169860e-02],
       [3.49800000e+03, 2.06000000e+02, 4.15909550e-02],
       [3.39900000e+04, 2.43500000e+03, 5.08807490e-02],
       [2.57900000e+03, 5.70000000e+01, 1.61107970e-02],
       [2.02070000e+04, 1.69200000e+03, 5.11394550e-02],
       [2.61520000e+04, 1.81500000e+03, 4.83626000e-02],
       [5.44600000e+03, 6.65000000e+02, 6.88976380e-02],
       [1.65080000e+04, 1.11400000e+03, 4.75824360e-02],
       [2.09838000e+05, 1.57010000e+04, 5.29360800e-02],
       [1.21090000e+04, 8.92000000e+02, 5.56526080e-02],
       [1.44680000e+04, 1.13800000e+03, 5.70540460e-02],
       [1.70800000e+03, 1.87000000e+02, 1.01796407e-01],
       [2.60380000e+04, 2.99000000e+03, 7.72689680e-02],
       [2.74990000e+04, 3.46200000e+03, 7.43301270e-02],
       [2.81120000e+04, 2.96100000e+03, 6.32165500e-02],
       [5.03900000e+03, 1.50000000e+02, 2.49003980e-02],
       [3.63900000e+03, 2.84000000e+02, 4.88728270e-02],
       [3.10780000e+04, 3.03000000e+03, 6.53834530e-02],
       [2.04242000e+05, 1.41080000e+04, 4.69029990e-02],
       [9.54290000e+04, 1.12520000e+04, 7.50203350e-02],
       [1.21606000e+05, 7.31700000e+03, 4.25051120e-02],
       [4.96100000e+03, 2.38000000e+02, 3.89525370e-02],
       [2.44700000e+03, 3.20000000e+02, 8.60215050e-02],
       [9.09800000e+03, 4.29000000e+02, 3.67263080e-02],
       [1.53308000e+05, 1.14680000e+04, 5.47286240e-02],
       [5.92620000e+04, 5.27200000e+03, 6.51105350e-02],
       [5.02000000e+03, 2.74000000e+02, 4.27924410e-02],
       [6.50800000e+03, 4.49000000e+02, 5.38950910e-02],
       [6.08120000e+04, 4.44000000e+03, 5.20900550e-02],
       [4.50500000e+03, 1.34000000e+02, 2.23333330e-02],
       [2.38933000e+05, 1.46130000e+04, 4.52311240e-02],
       [7.23800000e+03, 7.18000000e+02, 6.98579490e-02],
       [7.36817000e+05, 7.90660000e+04, 6.96665840e-02],
       [5.76300000e+03, 7.16000000e+02, 7.56311400e-02],
       [3.29700000e+03, 5.87000000e+02, 1.02712161e-01],
       [8.88800000e+03, 9.54000000e+02, 6.80213900e-02],
       [8.63100000e+03, 1.08400000e+03, 8.36290700e-02],
       [5.22600000e+03, 6.60000000e+02, 8.73362450e-02],
       [1.56880000e+04, 2.13700000e+03, 8.20093640e-02],
       [5.17599000e+05, 3.50370000e+04, 5.40355890e-02],
       [3.12620000e+04, 2.83600000e+03, 6.96549180e-02],
       [8.19600000e+03, 9.59000000e+02, 7.92169170e-02],
       [4.49590000e+04, 4.79400000e+03, 7.24212940e-02],
       [1.64020000e+05, 1.42080000e+04, 5.93759010e-02],
       [5.70360000e+04, 6.13200000e+03, 7.10569310e-02],
       [4.30580000e+05, 3.49740000e+04, 6.13127170e-02],
       [6.60460000e+04, 8.68400000e+03, 7.81757780e-02],
       [4.87630000e+04, 4.10600000e+03, 6.45191700e-02],
       [6.30700000e+04, 6.20200000e+03, 6.90084900e-02],
       [4.20910000e+04, 4.27800000e+03, 7.03132700e-02],
       [4.21761000e+05, 4.03760000e+04, 6.93738550e-02],
       [3.36515000e+05, 3.23440000e+04, 6.58043040e-02],
       [9.44400000e+03, 7.08000000e+02, 5.43987710e-02],
       [6.59160000e+04, 4.25700000e+03, 5.10970810e-02],
       [1.04530000e+04, 6.92000000e+02, 5.20339880e-02],
       [8.35190000e+04, 4.90200000e+03, 4.72636820e-02],
       [2.56747000e+05, 2.99120000e+04, 7.17532680e-02],
       [8.15190000e+04, 1.17890000e+04, 8.02737300e-02],
       [1.16142000e+05, 1.11550000e+04, 5.47191930e-02],
       [2.34790000e+04, 4.29700000e+03, 9.46580020e-02],
       [2.66671000e+05, 3.03300000e+04, 7.39197190e-02],
       [6.93030000e+04, 1.00800000e+04, 8.56189110e-02],
       [3.89890000e+04, 4.18500000e+03, 6.39126450e-02],
       [3.69430000e+04, 5.37200000e+03, 8.37138270e-02],
       [3.80200000e+03, 1.19000000e+03, 1.56147487e-01],
       [5.37460000e+04, 4.52500000e+03, 5.47006270e-02],
       [2.60850000e+04, 2.40700000e+03, 4.64671810e-02],
       [6.72940000e+04, 5.16000000e+03, 5.70039770e-02],
       [2.51180000e+04, 1.66000000e+03, 3.13568450e-02],
       [9.21280000e+04, 4.56400000e+03, 3.62098650e-02],
       [1.31470000e+04, 1.43100000e+03, 7.00097850e-02],
       [9.47546000e+05, 3.65030000e+04, 2.67968180e-02],
       [8.92340000e+04, 4.41400000e+03, 3.43576810e-02],
       [1.28115000e+05, 5.37800000e+03, 2.62916030e-02],
       [2.89120000e+04, 3.03200000e+03, 6.65277020e-02],
       [3.56760000e+04, 2.97800000e+03, 5.35727140e-02],
       [1.30464600e+06, 8.56260000e+04, 5.13775320e-02],
       [1.09502700e+06, 7.53790000e+04, 5.34146730e-02],
       [6.88000000e+03, 4.66000000e+02, 5.60635230e-02],
       [1.93938400e+06, 1.47261000e+05, 5.88653370e-02],
       [4.11040000e+04, 2.14100000e+03, 4.32682590e-02],
       [4.84710000e+04, 3.81600000e+03, 6.17485720e-02],
       [7.04912000e+05, 5.18390000e+04, 5.50328890e-02],
       [5.61073000e+05, 3.41660000e+04, 4.84729310e-02],
       [1.16466000e+05, 9.24100000e+03, 6.07480940e-02],
       [5.10120000e+04, 5.10600000e+03, 7.13537080e-02],
       [1.22499000e+05, 8.86200000e+03, 5.14469830e-02],
       [1.18249000e+05, 6.18600000e+03, 4.39771370e-02],
       [6.16030000e+04, 4.30800000e+03, 5.26785610e-02],
       [3.54163000e+05, 3.37250000e+04, 6.58510060e-02],
       [8.20400000e+03, 9.43000000e+02, 7.34996100e-02]])

In [47]:
from matplotlib import pyplot as plt
import streamlit as st 
import pandas as pd
import plotly.express as px 
import seaborn as sb
import plotly.graph_objects as go
fig2 = plt.figure()
df_sorted = df_age['Employed'].values('Employed', ascending= False)
fig7 = px.bar(df_sorted , x= 'lang' ,y='Sum')
st.plotly_chart(fig7)
st.pyplot(fig2)

TypeError: 'numpy.ndarray' object is not callable

In [48]:

df_age['Employed']

index
0       90245
1       76865
2       26321
3       81177
4       17281
        ...
168    163393
169    134478
170     77471
171    478416
172     11887
Name: Employed, Length: 173, dtype: int64

In [52]:
import matplotlibNanumGothic
print(matplotlib.get_cachedir()) # 캐시 폴더 경로 확인NanumGothic
/usr/share/fonts/nanum/NanumGothic.ttf

C:\Users\5-18\.matplotlib

In [53]:
print(matplotlib.__version__) # 파이썬 버전확인

3.5.3

In [54]:
print(matplotlib.__file__) # 설치 폴더 경로 확인

C:\Users\5-18\anaconda3\envs\YH\lib\site-packages\matplotlib\__init__.py

In [56]:
sudo cp -r /usr/share/fonts/truetype/nanum/Nanum* C:/Users/5-18/anaconda3/envs/YH/lib/site-packages/matplotlib/__init__.py+mpl-data/fonts/ttf/

SyntaxError: invalid syntax (1318083568.py, line 1)

In [68]:
X = []

In [69]:
y = df_age.loc[df_age['Major_code']==1100 , ['Median','P25th','P75th'] ].values

In [72]:
y

array([[50000., 34000., 80000.]])

In [70]:
X.append(y)

In [71]:
X

[array([[50000., 34000., 80000.]])]

In [51]:
df_grad

,Major_code,Major,Major_category,Grad_total,Grad_sample_size,Grad_employed,Grad_full_time_year_round,Grad_unemployed,Grad_unemployment_rate,Grad_median,Nongrad_total,Nongrad_employed,Nongrad_full_time_year_round,Nongrad_unemployed,Nongrad_unemployment_rate,Nongrad_median,Grad_share,Grad_premium
index,,,,,,,,,,,,,,,,,,
0,5601,CONSTRUCTION SERVICES,Industrial Arts & Consumer Services,9173,200,7098,6511,681,0.087543,75000.0,86062,73607,62435,3928,0.050661,65000.0,0.096320,0.153846
1,6004,COMMERCIAL ART AND GRAPHIC DESIGN,Arts,53864,882,40492,29553,2482,0.057756,60000.0,461977,347166,250596,25484,0.068386,48000.0,0.104420,0.250000
2,6211,HOSPITALITY MANAGEMENT,Business,24417,437,18368,14784,1465,0.073867,65000.0,179335,145597,113579,7409,0.048423,50000.0,0.119837,0.300000
3,2201,COSMETOLOGY SERVICES AND CULINARY ARTS,Industrial Arts & Consumer Services,5411,72,3590,2701,316,0.080901,47000.0,37575,29738,23249,1661,0.052900,41600.0,0.125878,0.129808
4,2001,COMMUNICATION TECHNOLOGIES,Computers & Mathematics,9109,171,7512,5622,466,0.058411,57000.0,53819,43163,34231,3389,0.072800,52000.0,0.144753,0.096154
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,5203,COUNSELING PSYCHOLOGY,Psychology & Social Work,51812,724,38468,28808,1420,0.035600,50000.0,16781,12377,8502,835,0.063200,40000.0,0.755354,0.250000
169,5202,CLINICAL PSYCHOLOGY,Psychology & Social Work,22716,355,16612,12022,782,0.044958,70000.0,6519,4368,3033,357,0.075556,46000.0,0.777014,0.521739
170,6106,HEALTH AND MEDICAL PREPARATORY PROGRAMS,Health,114971,1766,78132,58825,1732,0.021687,135000.0,26320,16221,12185,1012,0.058725,51000.0,0.813718,1.647059
171,2303,SCHOOL STUDENT COUNSELING,Education,19841,260,11313,8130,613,0.051400,56000.0,2232,1328,980,169,0.112892,42000.0,0.898881,0.333333
172,2301,EDUCATIONAL ADMINISTRATION AND SUPERVISION,Education,54159,841,34142,26850,582,0.016761,65000.0,4003,3079,2434,0,0.000000,58000.0,0.931175,0.120690

In [45]:
df_recent

,Rank,Major_code,Major,Major_category,Total,Sample_size,Men,Women,ShareWomen,Employed,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
index,,,,,,,,,,,,,,,,,,,,,
0,1,2419,PETROLEUM ENGINEERING,Engineering,2339,36,2057,282,0.120564,1976,...,270,1207,37,0.018381,110000,95000,125000,1534,364,193
1,2,2416,MINING AND MINERAL ENGINEERING,Engineering,756,7,679,77,0.101852,640,...,170,388,85,0.117241,75000,55000,90000,350,257,50
2,3,2415,METALLURGICAL ENGINEERING,Engineering,856,3,725,131,0.153037,648,...,133,340,16,0.024096,73000,50000,105000,456,176,0
3,4,2417,NAVAL ARCHITECTURE AND MARINE ENGINEERING,Engineering,1258,16,1123,135,0.107313,758,...,150,692,40,0.050125,70000,43000,80000,529,102,0
4,5,2405,CHEMICAL ENGINEERING,Engineering,32260,289,21239,11021,0.341631,25694,...,5180,16697,1672,0.061098,65000,50000,75000,18314,4440,972
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,169,3609,ZOOLOGY,Biology & Life Science,8409,47,3050,5359,0.637293,6259,...,2190,3602,304,0.046320,26000,20000,39000,2771,2947,743
169,170,5201,EDUCATIONAL PSYCHOLOGY,Psychology & Social Work,2854,7,522,2332,0.817099,2125,...,572,1211,148,0.065112,25000,24000,34000,1488,615,82
170,171,5202,CLINICAL PSYCHOLOGY,Psychology & Social Work,2838,13,568,2270,0.799859,2101,...,648,1293,368,0.149048,25000,25000,40000,986,870,622
171,172,5203,COUNSELING PSYCHOLOGY,Psychology & Social Work,4626,21,931,3695,0.798746,3777,...,965,2738,214,0.053621,23400,19200,26000,2403,1245,308
172,173,3501,LIBRARY SCIENCE,Education,1098,2,134,964,0.877960,742,...,237,410,87,0.104946,22000,20000,22000,288,338,192